extends layout 

block content

  .container.py-4.py-xl-5
    h1 Hello [username]
  .row.row-cols-3.row-cols-md-2.row-cols-lg-3
    .col-xl-3.mb-4
      .card
        .card-body
          h4.card-title #{dvdInfo[0].title}
          p.card-text #{dvdInfo[0].description}
        button.btn.btn-dark(type='button') Add to Order
    
    .col-lg-6.mb-2
      each dvd in dvdInfo
        a(href='#')
          img.p-1.fit-cover(src=dvd.image, width='158', height='122')
      
    .card.col-lg-3
      .card-body
        h4.card-title Cart(3)
        .row.p-1
          .col-sm-2.button.close(type='button', aria-label='Close')
            span(aria-hidden='true') &times;
          .col-sm-10.p.display-6 #{dvdInfo[3].title}
        .row.p-1
          .col-sm-2.button.close(type='button', aria-label='Close')
            span(aria-hidden='true') &times;
          .col-sm-10.p.display-6 #{dvdInfo[1].title}
        .row.p-1
          .col-sm-2.button.close(type='button', aria-label='Close')
            span(aria-hidden='true') &times;
          .col-sm-10.p.display-6 #{dvdInfo[2].title}
          
      button.btn.btn-dark(type='button') Rent
      
    